

<table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Choose Airline</th>
                <th scope="col">Logo</th>
                <th scope="col">Price</th>
                <th scope="col">Depature</th>
                <th scope="col">Contact</th>
                <th scope="col">Model</th> 
                <th scope="col">Action</th>     
            </tr>
        </thead>
    
    <ng-template>
        <tbody>
            <tr *ngFor="let flight of flights">
                <td>
                    <select>
                        <option value="airlineNames">{{flight.airline}}</option>
                    </select>
                </td>
                <td>{{flight.logo}}</td>
                <td>{{flight.price}}</td> 
                <td>{{flight.departure}}</td> 
                <td>{{flight.schedule}}</td>
                <td>{{flight.contactNumber}}</td>  
                <td>{{flight.model}}</td>  
                <td> <button (click)="deleteAirline(flights)"></button></td>       
            </tr> 
        </tbody>
    </ng-template>
</table>