button{
    padding: 1em;
    border: 5px outset black;
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: rgb(115, 255, 0)
}

span{
    border-radius: 50px;
    border: 5px outset yellow;
    font-size: smaller;
    color: white;
    background-color: blueviolet;
    padding: 4px;
}