button{
    padding: 1em;
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: rgba(255, 0, 0, 0.76);
}

span{
    border-radius: 50px;
    border: 2px solid blue;
    font-size: smaller;
    color: white;
    background-color: darkblue;
    padding: 4px;
}