<div class="jumbotron jumbotron-fluid">

    <div class="container">
      <h1 class="display-4">Flights List</h1>
      <p class="lead"> Fly to your destination at cheaper prices</p>
    </div>

    <div class="row">

        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Air-India</h5>
              <p class="card-text">1h 30m</p>
              <a href="#" class="btn btn-primary">Book Flight</a>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">SpiceJet</h5>
              <p class="card-text">2h</p>
              <a href="#" class="btn btn-primary">Book Flight</a>
            </div>
          </div>
        </div>

      </div>

      <div class="row">
        
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Go-Air</h5>
              <p class="card-text">1h 45m</p>
              <a href="#" class="btn btn-primary">Book Flight</a>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Indigo</h5>
              <p class="card-text">2h</p>
              <a href="#" class="btn btn-primary">Book Flight</a>
            </div>
          </div>
        </div>

      </div>

  </div>