
 <div class="jumbotron">
        
    <h3 class="navbar bg-warning clearfix">Schedule Flights
        <button class="btn btn-danger pull-right" (click)="back()"> <-AdminHome</button>
    </h3>

        <button class="btn btn-primary" (click)="fetchFlights()" type="submit">Load Flights</button>
   
            <table class="table table-info table-responsive table-hover">
                <thead class="table table-secondary">
                    <tr>
                        <th scope="col">Airline Name</th>
                        <th scope="col">Airline Model</th>
                        <th scope="col">Airline Logo</th>
                        <th scope="col">Flight Seats</th>
                        <th scope="col">Flight Cost</th> 
                        <th scope="col">(From)Journey</th> 
                        <th scope="col">(To)Destination</th> 
                        <th scope="col">Start Time</th> 
                        <th scope="col">End Time</th> 
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let f of resultScheduledFlight">
        
                        <td> {{f.airline?.airlineName}}</td>
                        <td> {{f.airline?.airlineModel}}</td>
                        <td> {{f.airline?.airlineLogo}}</td>
                        <td>{{f.noOfSeats}} seats</td> 
                        <td>₹{{f.price}}</td> 
                        <td>{{f.journey}}</td> 
                        <td>{{f.destination}}</td>  
                        <td>
                            <input [(ngModel)] ="f.starttime"  type="time" name="starttime" id="starttime">
                        </td> 
                        <td>
                            <input [(ngModel)] ="f.endtime" type="time" name="endtime" id="endtime">
                        </td> 
                        <td>
                            <button class="btn btn-success"  type="submit" (click)="saveSch(f)">Schedule This Flight</button>
                        </td>
                    </tr>
                </tbody>
                
            </table>

            <hr/>
            <div *ngIf="flag">
               The Flight from {{schflight.journey}} to {{schflight.destination}} is scheduled between {{schflight.starttime}} to {{schflight.endtime}}
            </div>
    </div>