.transitioning {
    animation: moveleft 60s 10 normal forwards;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: brown;

}

@keyframes moveleft {
   from { transform: translateX(0); }
   to   { transform: translateX(70%); }

}

.logout{
    float: right;
    width: 15%;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logout:hover{
    box-shadow: 4px 4px 4px rgb(242, 99, 99);
}