<header>
    <nav>
        <ul>
            <li><a href="searchflights.component.html">Search Flights</a></li>
        </ul>
    </nav>
</header> 

<form [formGroup] = "loginUserForm" (submit)="Login()" class="bordered" >

    UserName : <input id="inputs" formControlName ="username"/>

    <span *ngIf='loginUserForm.controls["username"].dirty 
    &&  !!(loginUserForm.controls["username"].errors)'>

        <span *ngIf="loginUserForm.controls['username'].errors['required']" class="error">Username can not be empty</span>
        <span *ngIf="loginUserForm.controls['username'].errors['pattern']" class="error">Username can only contain alphabets</span>
        
    </span>
    <br/>

    Password : <input id="inputs" type="password" formControlName ="password"/>
    
    <br/>

    <button (click) ="validateCred()">Login</button>
</form>
