body{
    margin: 0;
    border: 0;
    height: 80em;
}

h1{
    color: White;
    background-color: cornflowerblue;
    border: 5px ridge gray;
    text-align: center;
    padding: 5px;
    margin-bottom: 1em, 2em;
}

h5{
    color: white;
    background-color: darkgreen;
    border: 5px ridge gray;
    text-align: center;
    padding: 5px;
    margin-bottom: 1em, 2em;
}

img{
    width : 150px; 
}