label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-weight: 300;
}

input{
    padding: 0.5em;
    border-radius: 2em;
}

input:hover{
    border: rgb(212, 255, 212) 0.2px solid;
    box-shadow: 15px 20px 18px rgb(87, 87, 87);

}

.input{
    border: rgb(187, 187, 255) 0.2px solid;
    outline: none;
    padding-left: 1em;
    margin-left: 1em;
}

.log{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    padding: 0.3em 7em;
    border : 1px solid rgb(167, 167, 165)
}

.log:hover{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 15px 20px 18px rgb(87, 87, 87);
    padding: 0.3em 7em;
    border : 1px solid rgb(180, 255, 164);
}

.img-rounded{
    box-shadow: 15px 20px 18px rgb(83, 85, 83);
}
