<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <div class="jumbotron">

        <div class="alert alert-danger" *ngIf="flagErrors">
            {{message}}
            <a [routerLink]="[ '/register' ]" routerLinkActive="active">
                {{navToRegister}}
            </a>
        </div>

        <img src="assets/stockmarket" class="img-rounded" width="500px">


        <form style="float: right;">

            <div class="form-group">
                <label for="name">UserName</label>
                <input class="input" id="user" type="text" [(ngModel)]="user.username" name="name" />
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input class="input" id="pass" type="password" [(ngModel)]="user.password" name="password" />
            </div>

            <button class="log btn btn-outline-success btn-lg" (click)="validateCred()">LOGIN</button>



        </form>
    </div>
</body>

</html>