
/* Mobile view */
@media only screen and (max-width: 768px)
{
     body
     {
        width: 350px;
        margin-top : 0px;
        border: 0;
     }
}

/* Laptop view */
/* @media only screen and (min-width: 768px)
{
     body
     {
        width: 90%;
     }
} */


.scrollbar{
   margin :1em 0em;
   overflow-y: scroll;
}

