<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="jumbotron">
        <form [formGroup] = "registerForm" (onSubmit) ="Register()">
            
            <div class="form-group">
                <label for="name">UserName : </label> 
                <input [(ngModel)]="user.name" id="user" type="text" 
                        formControlName ="username" name="name"/>
            </div>

            <div class="form-group">
                <label for="password">Password :</label>
                <input  [(ngModel)]="user.password" id="pass" type="password" 
                        formControlName ="password" name="password"/>
            </div>

            <div class="form-group">
                <label for="repassword">Retype Password :</label>
                <input  [(ngModel)]="user.repassword" id="pass" type="password" 
                        formControlName ="repassword" name="repassword"/>
            </div>
            
            <br/>
        
            <button class="btn btn-outline-success btn-lg">Register</button>

            <br/>

            <button *ngIf="checkUserForNull() && registerForm.controls['username'].touched
            && registerForm.controls['repassword'].touched"
             class="btn btn-danger">{{message}}</button>

             {{successMsg}}
            <!-- <div *ngFor="let u of user">{{u.UserName}}</div> -->
    </form>
</div>
</body>
</html>

