<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
 
  <form [formGroup] = flightForm>

    <div class="input-group">
        <label for="AirlineName">Add Airline</label>
        <select [(ngModel)]="flight.AirlineName" name="AirlineName" id="AirlineName" 
        formControlName ="AirlineName" autocomplete="true">
            <optgroup label="--Choose Airline--">
                <option selected>- Not Required -</option>
                <option >SpiceJet</option>
                <option >Air India</option>
                <option >Indigo</option>
                <option >Go-Air</option>
            </optgroup>
        </select>
    </div>

    <div class="input-group">
        <label for="logo">Upload logo</label>
        <input [(ngModel)]="flight.logo" formControlName ="logo" type="file" name="logo" id="logo" required>
    </div>

    <div class="input-group">
        <label for="model">Model</label>
        <input [(ngModel)]="flight.model" formControlName ="model" type="text" name="model" id="model">
    </div>

    <div class="input-group">
        <label for="address">Update Address</label>
        <textarea [(ngModel)]="flight.address" 
        formControlName ="address" rows="5" cols="30" name="address" required></textarea>
    </div>
    
    <div class="input-group">
        <label for="contact">Contact number</label>
            <input [(ngModel)]="flight.contact" formControlName ="contact" 
            type="number" min="1" max="9999999999" name="contact" id="contact" required>
        </div>

    <button class="btn btn-success" (click)="AddAirline()">Add Airline</button>
    <button type="reset" value="reset" class="btn btn-danger">Reset</button>

    <p>{{ flight.contact }}!</p>
    <p>{{ flight.address }}!</p>
    <p>{{ flight.model }}!</p>
    <p>{{ flight.logo }}!</p>
    <p>{{ flight.AirlineName }}!</p>
    <div *ngIf= "checkFlight()">{{ message }}!</div>
   
   </form>

</body>
</html>
