<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Search and Book</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
    
    <h3 class="navbar text-light bg-dark">User Home
        <div class="btn btn-group">
            <button class="btn btn-light" (click) = "searchFlights()">Search & Book</button>
            <button class="btn btn-light" (click) = "manageBookings()">Manage Bookings</button>
        </div>
    </h3>

    <!-- Search Flights form -->
    <form [formGroup] = searchForm>
            
        <div class="jumbotron">
    
    <h5 class="navbar bg-warning clearfix">Search Flights</h5>

    <!-- One Way and Round Trip -->
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked>
        <label class="form-check-label" for="inlineRadio1">One-Way</label>
      </div>
      <div class="form-check form-check-inline">
        <input  class="form-check-input"  type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
        <label class="form-check-label" for="inlineRadio2">Round-Trip</label>
      </div>

      <!-- Search inputs -->
    <table class="table table-primary table-striped table-hover">
        <thead>
            <tr >
             <th>From</th>
              <th>To</th>
              <th>Date of journey</th>
              <th>Date of Return</th>
            </tr>
        </thead>
    
        <tbody>
                <tr >
                    <td>
                        <select [(ngModel)]="resultFlight.journey" formControlName ="journey" class="form-select" aria-label="Default select example">
                            <optgroup  label="JOURNEY">
                                <option *ngFor="let r of resultFlightForDropDown" >{{r.journey}}</option> 
                            </optgroup>
                          </select>
                    </td> 
                    <td>
                        <select [(ngModel)]="resultFlight.destination" formControlName ="destination" class="form-select" aria-label="Default select example">
                            <optgroup  label="DESTINATION">
                                <option *ngFor="let r of resultFlightForDropDown" > {{r.destination}} </option> 
                            </optgroup>
                        </select>
                    </td>
                    <td>
                        <input [(ngModel)]="resultFlight.startDate" formControlName ="startDate"  type="date" value="start">
                    </td>
                    <td>
                        <input [(ngModel)]="resultFlight.endDate" formControlName ="endDate"  type="date" value="end">
                    </td>
                    <td >
                            <button class="btn btn-success"  type="submit" (click)="SearchFlightsByPlace(resultFlight.journey,resultFlight.destination)">Search Flight</button>
                    </td>
                </tr>
            </tbody>

    </table>
<br/>
<hr/>

<h5 class="navbar bg-warning clearfix">Flight Search Results</h5>

<table class="table table-primary table-responsive">
    <thead class="table table-secondary">
        <tr>
            <th scope="col">Provider<th>
            <th scope="col">Seats available<th> 
            <th scope="col">From<th>
            <th scope="col">To<th>
            <th scope="col">Journey Date<th>
            <!-- <th scope="col">Start Time<th>
            <th scope="col">End Time<th> -->
            <th scope="col">Price<th>
            <th scope="col">-<th>
        </tr>
    </thead>
    <tbody *ngFor = "let f of resultFlightBasedOnSearch">
        <tr >
            <td scope="col">{{f.airline?.airlineLogo}}</td>
            <td scope="col">{{f.noOfSeats}} seats</td> 
            <td scope="col">{{f.journey}}</td>
            <td scope="col">{{f.destination}}</td>
            <td scope="col">{{f.startDate}}</td>
            <!-- <td scope="col">{{f.startTime}}</td>
            <td scope="col">{{f.endTime}}</td> -->
            <td scope="col">₹{{f.price}}</td>
        </tr>
        <tr>
            <button class="btn btn-success pull-right"  type="submit" (click) = "renderBooking(f)">Start Booking</button>
        </tr>   

     </tbody>
    </table>


    </div>

    </form>

    <!-- Booking Form -->
    <form [formGroup] = bookForm >
        <div class="jumbotron">
            <h5 class="navbar bg-warning clearfix">Book Flights</h5> 

            <table *ngIf="passenger.length!=0" class="table table-success table-stripped">
                <thead>
                    <tr>
                         <th>Booking Details</th>
                         <th><button class="btn btn-outline-success"  type="submit" (click)="addPassengers()">Add passenger</button></th>
                          <th><button class="btn btn-outline-danger" (click)="popPassengers()" type="submit">Remove Passenger</button></th>
                          <th>
                            Apply coupon
                             <select [(ngModel)]="discountStr" formControlName ="discountStr" class="form-select" aria-label="Default select example">
                                <optgroup  label="DISCOUNTS">
                                    <option *ngFor="let disc of resultDiscounts" value="{{disc.discountValue}}">{{disc.discountName}}</option> 
                                </optgroup>
                             </select>

                            <button class="btn btn-outline-dark btn-sm" (click)="calculateDiscount()">Apply</button>
    
                          </th>
                    </tr>
                </thead>
            
                <tbody>
                    <tr *ngFor="let p of passenger">

                        <td> <input type="text" [(ngModel)]="p.passengerName" placeholder="Enter name" name=passengerName formControlName ="passengerName"></td>
                        <td> <input type="email" [(ngModel)]="p.passengerEmail" placeholder="Enter Email" name=passengerEmail  formControlName ="passengerEmail"></td>
                        <td> <input type="number" [(ngModel)]="p.passengerAge" placeholder="Enter Age" name=passengerAge formControlName ="passengerAge"></td>
                        <td> <input type="number" [(ngModel)]="p.passengerContact" placeholder="Enter Contact" name=passengerContact formControlName ="passengerContact" maxlength="10"></td>
                        <td> <input type="text" [(ngModel)]="p.passengerPreferences" placeholder="Enter Preference" name=passengerPreferences formControlName ="passengerPreferences"></td>
        
                         <td> 
                            <button class="btn btn-outline-success btn-sm" (click)="SavePassenger(p)" type="submit">Save Passenger</button> 
                        </td>
                    </tr>
                    <tr>
                        <!-- <input type="number" name="" id="" value="{{passenger.length}}" disabled> -->
                        No of passengers added : {{passenger.length}}
                    </tr>
                    <tr >
                        Discount Value : <span class="badge badge-success">{{discountStr}}</span>%
                    </tr>
                    <tr >
                        Price:{{priceStr}}
                    </tr>
                    <tr >
                        <!-- <input [(ngModel)]="booking.totalprice" type="number" name="totalprice" id="totalprice" value="{{discountedpriceStr}}" disabled> -->
                        Final Price (Discounted):{{discountedpriceStr}}
                    </tr>
                    <tr>
                        <button class="btn btn-outline-primary btn-lg"  type="submit" (click)="finishandSave()">Finish Booking</button> 
                    </tr>
                </tbody>
                
            </table>
        </div>
    </form>

    {{ticketGen}}

</body>
</html>

