/* Mobile view */
@media only screen and (max-width: 768px)
{
     body
     {
        width: 350px;
        margin-top : 0px;
        border: 0;
     }
}

/* Laptop view */
@media only screen and (min-width: 768px)
{
     body
     {
        width: 90%;
     }
}

form{
    border: 10px ridge black;
    background-color: lightgreen;
    padding: 1em;
    margin-top: 2em;
}
.input-group{
    margin-bottom: 1em;
}

.input-group select,
.input-group textarea{
    padding: 10px;
    border : outset 4px blue;
    border-radius: 4px;
    width: 200px;
}

label{
    font-weight: 500;
}
input[type="reset"]{
    background: transparent;
    text-decoration: underline;
    cursor: pointer;
    border: 0;
}
input[type="submit"]{
    cursor: progress;
    border-radius: 3px;
    padding: 10px;
    background-color: lightcoral;
    font-weight: bold;
}