body{
    background-color: darkgray;
}

/* Mobile view */
@media only screen and (max-width: 768px)
{
     body
     {
        width: 350px;
        margin-top : 0px;
        border: 0;
     }
}

/* Laptop view */
@media only screen and (min-width: 768px)
{
     body
     {
        width: 90%;
     }
}

header{
    background-color: lightgrey; 
    border-radius: 10px;
    border: solid 2px black;
    text-align: center;
    font-weight: 800; 
    font-size: 18px;
    padding: 20px;
    width: 100%;
}


form{
    border: 5px ridge darkblue;
    background-color: lightgreen;
    padding: 1em;
    width: 70%;
    margin-top: 2em;
    margin-bottom: 4em;
    margin-left: 1em;
}
.input-group{
    margin-bottom: 1em;
}

.input-group select,
.input-group textarea{
    padding: 10px;
    border : outset 4px blue;
    border-radius: 4px;
    width: 200px;
}

label{
    font-weight: 500;
}
input[type="reset"]{
    background: transparent;
    text-decoration: underline;
    cursor: pointer;
    border: 0;
}
input[type="submit"]{
    cursor: progress;
    border-radius: 3px;
    padding: 10px;
    background-color: lightcoral;
    font-weight: bold;
}