
 <div class="jumbotron" >
        
  <h3 class="navbar bg-warning clearfix">Manage Ticket Bookings
      <button class="btn btn-danger pull-right" (click)="back()"> <- Back to User</button>
  </h3>

      <button class="btn btn-primary"  type="submit" (click)="fetchBookings()">Load Bookings</button>

          <table class="table table-info table-responsive table-hover" id="bookTicket">
              <thead class="table table-secondary">
                  <tr>
                      <th scope="col">PNR Number</th>
                      <th scope="col">(From)Journey</th> 
                      <th scope="col">(To)Destination</th> 
                      <th scope="col">Journey Date</th> 
                      <th scope="col">Booking Date</th> 
                      <th scope="col">Discount Added</th>
                      <th scope="col">Total Price</th> 

                      <th scope="col">View Ticket</th> 
                      <th scope="col">Download Ticket</th> 
                      <th scope="col">Cancel Ticket</th> 
                  </tr>
              </thead>
              <tbody >
                  <tr *ngFor="let f of bookingResults">
                    <td> {{f.pnr_number}}</td>
                    <td> {{f.journey}}</td>
                    <td> {{f.destination}}</td>
                    <td> {{f.startDate|date:'short'}}</td>
                    <td> {{f.bookingDate|date:'short'}}</td>
                    <td> Yes</td>
                    <td> {{f.totalprice}}</td>
                      <td>
                        <button class="btn btn-outline-primary"  type="submit" (click)="ViewTicket(f.ticketId)">View <i class="fa fa-eye"></i> </button>
                      </td>
                      <td>
                        <button class="btn btn-outline-success"  type="submit" (click)="DownloadTicket(f.ticketId)">Download <i class="fa fa-arrow-circle-o-down"></i> </button>
                      </td>
                      <td>
                        <button class="btn btn-outline-danger"  type="submit" (click)="CancelTicket(f.ticketId)">Cancel<i class="fa fa-trash"></i> </button>
                      </td>
                  </tr>
              </tbody>
              
          </table>
          {{viewmsg}}
  </div>