<div class="container">

    <button (click) = "FetchAllUsers()">Get UserList</button>
    <!-- <button (click) = "FetchSingleUser(id)">Load user with id</button>
    <button (click) = "SaveUser(user)">Save user</button> -->
    
    <h1>Find your bookings here</h1>
  
    
<form>
  <div class="form-group form-inline">
      Search by Email <input class="form-control ml-2" type="text" />
  </div>
</form>


    <table class="table table-striped">
  
      <thead>
  
          <tr>
  
            <th>ID</th>
  
            <th>Name</th>
  
            <th>UserName</th>
  
            <th>Email</th>
  
          </tr>
  
      </thead>
  
      <tbody>
  
        <tr *ngFor="let r of result">
  
          <td>{{ r.id }}</td>
  
          <td>{{ r.name }}</td>
  
          <td>{{ r.username }}</td>
  
          <td>{{ r.email }}</td>
  
        </tr>
  
      </tbody>
  
    </table>
  
  </div>
