<!-- 
 <div class="jumbotron">
        
  <h3 class="navbar bg-warning clearfix">Manage Ticket Bookings
      <button class="btn btn-danger pull-right" (click)="back()"> <- Back to User</button>
  </h3>

      <button class="btn btn-primary" (click)="fetchFlights()" type="submit">Load Flights</button>

          <table class="table table-info table-responsive table-hover">
              <thead class="table table-secondary">
                  <tr>
                      <th scope="col">Airline Name</th>
                      <th scope="col">Airline Model</th>
                      <th scope="col">Airline Logo</th>
                      <th scope="col">Flight Seats</th>
                      <th scope="col">Flight Cost</th> 
                      <th scope="col">(From)Journey</th> 
                      <th scope="col">(To)Destination</th> 
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let f of resultScheduledFlight">
      
                      <td> {{f.airline?.airlineName}}</td>
                      <td> {{f.airline?.airlineModel}}</td>
                      <td> {{f.airline?.airlineLogo}}</td>
                      <td>{{f.noOfSeats}} seats</td> 
                      <td>₹{{f.price}}</td> 
                      <td>{{f.journey}}</td> 
                      <td>{{f.destination}}</td> 
                  </tr>
              </tbody>
              
          </table>
  </div> -->