
form{
    padding: 1em;
    bottom: 0%;
    font-size: smaller;
    margin-left: 1em;
    margin-top: 3em;
    margin-right: 2em;
}

label
{
    font-weight: 500;
}

.fontChange{
    font-family: cursive; 
    font-weight: bold;
}

.scrollbar{
    margin :1em 0em;
    overflow-y: scroll;
}