<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Company</title>

</head>

<body >

    <!-- company form -->
    <form [formGroup]=companyFrom>

        <div class="container-fluid">

            <h4 class="navbar bg-warning clearfix">Manage Company</h4>

            <table class="table table-striped table-hover">
                <thead >
                    <tr>
                        <th>Company Name</th>
                        <th>CEO</th>
                        <th>Official Website</th>
                        <th>Annual Turnover</th>
                        <th>Stock Exchange</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let a of company">

                        <td> <input type="text" [(ngModel)]="a.companyName" formControlName="companyName"></td>
                        <td> <input type="text" [(ngModel)]="a.companyCEO" formControlName="companyCEO"></td>
                        <td> <input type="text" [(ngModel)]="a.companyWebsite" formControlName="companyWebsite"></td>
                        <td> <input type="number" [(ngModel)]="a.companyTurnover" formControlName="companyTurnover"
                                placeholder="In lakhs"></td>
                        <td>
                            <select [(ngModel)]="a.exchangeType" formControlName="exchangeType">
                                <option>NSE</option>
                                <option>BSE</option>
                            </select>
                        </td>
                        <td>
                            <button class="btn btn-outline-success" (click)="Persistcompany(a)" type="submit"><i
                                    class="fa fa-floppy-o"> Save</i></button>
                        </td>
                    </tr>
                </tbody>
            </table>

                {{message}}

            <button class="btn btn-outline-primary" (click)="addcompany()" type="submit"><i class="fa fa-plus-circle">
                    Company</i></button>
            <button class="btn btn-outline-danger" (click)="popcompany()" type="submit"><i class="fa fa-minus-circle">
                    Company</i></button>
            <button class="btn btn-outline-danger" type="reset" value="reset"><i class="fa fa-eraser">
                    Reset</i></button>

        </div>

        <br />

        <button class="btn btn-outline-dark btn-block" (click)="fetchcompanies()" type="submit"> <i class="fa fa-usd"> Fetch Companies</i> </button>
        <table class="table table-striped table-hover">
            <thead class="bg-dark text-light">
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>CEO</th>
                    <th>Website</th>
                    <th>Annual Turnover(Lakhs)</th>
                    <th>Exchange Type</th>
                </tr>
            </thead>
            <tbody *ngFor="let company of resultcompany">
                <tr>
                    <td>{{company.companyCode}} </td>
                    <td>{{company.companyName}} </td>
                    <td>{{company.companyCEO}} </td>
                    <td>{{company.companyWebsite}} </td>
                    <td> {{company.companyTurnover}}</td>
                    <td *ngIf=company.isNSE>NSE</td>
                    <td *ngIf=company.isBSE>BSE</td>
                </tr>
                <button class="btn btn-danger btn-sm" (click)="deletecompany(company.companyId)" type="submit"><i class="fa fa-trash"> company</i></button>
                <button class="btn btn-outline-success btn-sm" (click)="addstock(company)" type="submit"><i class="fa fa-plus-circle"> stock</i></button>
            </tbody>

        </table>

    </form>
    <!-- stock Form -->
    <form [formGroup]=stockForm>

        <div class="container-fluid" *ngIf="stock.length!=0" >
            <h4 class="navbar bg-warning clearfix">Manage Stocks</h4>
            <div class="container-fluid">

            <table class="table table-striped table-hover">
                <thead >
                    <tr>
                        <th>company Name</th>
                        <th>Stock price</th>
                    </tr>
                </thead>

                <tbody *ngFor="let resultStock of stock">
                    <tr>
                        <td> {{resultStock.company?.companyName}}</td>
                        <td> <input type="number" [(ngModel)]="resultStock.stockPrice" name=stockPrice formControlName="stockPrice"></td>
                    </tr>
                    <div class="btn-group btn-block">                   
                        <button class="btn btn-outline-success" (click)="Persiststock(resultStock)" type="submit"><i class="fa fa-floppy-o">Save Stock</i></button>
                        <button class="btn btn-danger" (click)="popstock()" type="submit"><i class="fa fa-trash">Remove Stock</i></button>
                    </div>
                </tbody>
            </table>
            <br />
            <button class="btn btn-outline-dark btn-block" (click)="fetchstocks()" type="submit"><i class="fa fa-line-chart"> Fetch Stocks</i></button>            
            
            <!-- Fetch stock Details -->
       
            <table *ngIf="stock.length!=0" class="table table-striped table-hover">
                <thead class="bg-dark text-light">
                    <tr>
                        <th>company</th>
                        <th>Stock Id</th>
                        <th>Stock Price</th>
                        <th>Stock Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody *ngFor="let displayStock of resultstock">
                    <tr>
                        <td>{{displayStock?.companyName}}</td>
                        <td>{{displayStock.stockId}}</td>
                        <td>{{displayStock.stockPrice}}</td>
                        <td>{{displayStock.stockDate | date : 'dd/MM/yy h:mm:ss a'}}</td>
                        <button class="btn btn-danger btn-sm" (click)="deletestock(displayStock.stockId)" type="submit"> <i class="fa fa-trash"> Delete</i> </button>
                    </tr>
                </tbody>
            </table>
            </div>
            <button class="btn btn-danger" (click)="back()"> Back</button>
        </div>
    </form>
</body>
</html>